## mako
<%page expression_filter="h"/>
<%namespace name='static' file='static_content.html'/>

<section class="footer-main">
<div class="grid-manual grid-container">
  <div class="row">
    <div class="footer-logo">
        <br>
      <ul>
          <li><a href="/"><img src="${static.url('images/logo.png')}" alt="Logo" /></a></li>
      </ul>
    </div>
    <div class="col col-3">
      <div class="col" align="left">
      <ul>
        <li class="hd-6">Iwiz</li>
        <li><a href="/contact"><font color="#028bcb">Contact Us </font> </a></li>
        <li><a href="/about"><font color="#028bcb">About Us </font> </a></li>
        <li><a href="/faq"><font color="#028bcb">FAQ </font> </a></li>
      </ul>
    </div>
  </div>
  
  <div class="col col-3" align="left">
      <ul>
        <li class="hd-6">Support</li>
        <li><a href="/tos"><font color="#028bcb">Terms of Service</font></a></li>
        <li><a href="/privacy"><font color="#028bcb">Privacy Policy </font></a></li>
        <li><a href="/honor"><font color="#028bcb">Honor Code</font></a></li>
      </ul>
    </div>

    <div class="col-xs-12 col-centered" align="center">
      <ul>
        <li class="hd-6">Connect</li>
       <div class="text-center center-block">
            <p class="txt-railway"></p>
                <a style="padding-left: 1em;" href="#"><i style="color:#0057a8;" id="social-fb" class="fa fa-facebook fa-3x social"></i></a>
	            <a style="padding-left: 1em;" href="#"><i style="color:#00aced;" id="social-tw" class="fa fa-twitter fa-3x social"></i></a>
	            <a style="padding-left: 1em;" href="#"><i style="color:#0057a8;" id="social-tw" class="fa fa-linkedin fa-3x social"></i></a>
	            <a style="padding-left: 1em;" href="#"><i style="color:#bb0000;" id="social-tw" class="fa fa-youtube fa-3x social"></i></a>
	            <a style="padding-left: 1em;" href="#"><i style="color:#bb0000;" id="social-gp" class="fa fa-google-plus fa-3x social"></i></a>
	            <a style="padding-left: 1em;" href="mailto:notbabru@gmail.com"><i style="color:#0057a8;"  id="social-em" class="fa fa-envelope fa-3x social"></i></a>
</div>
      </ul>
    </div>
  </div>
</div>
</section>